.dawn_home_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  background-color: lightblue;
}

.dawn_profile_pic {
  height: 500px;
  padding-top: 3em;
  padding-bottom: 2em;
}

.dawn_profile_name {
  color: white;
}

.dawn_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: lightcyan;
  margin-left: 10px;
  margin-right: 10px;
}