.profile_pic {
  height: 400px;
}

.heart_button {
  border: none;
  background-color: transparent;
  color: pink;
  padding-left: 2em;
}

.heart_broken_button {
  border: none;
  background-color: transparent;
  color: blue;
  padding-right: 2em;
}