.home_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  background-color: lightblue;
}

.profile_pic {
  height: 500px;
  padding-top: 3em;
  padding-bottom: 2em;
}

.profile_name {
  color: white;
}

.heart_button {
  border: none;
  background-color: transparent;
  color: pink;
  padding-left: 2em;
}

.heart_broken_button {
  border: none;
  background-color: transparent;
  color: blue;
  padding-right: 2em;
}