.dawn_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: yellow;
  height: 50px;
}

.dusk_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: darkblue;
  height: 50px;
}

.dawn_icons {
  color: black;
  display: flex;
}

.dusk_icons {
  color: white;
  display: flex;
}

.profileSwitchButton {
  background-color: transparent;
  border: none;
  width: 50px;
  display: flex;
  justify-content: center;
}

.accountIcon {
  padding-right: 3em;
}

.chatIcon {
  padding-left: 3em;
}